.content{
  .status_box_num{
    margin-top: 10px;
    h5{
      margin-top: 3px;
    }
    .status{
      padding: 5px 25px 5px 25px;
      background-color: red;
      border-radius: 20px;
      margin-left: 10px;
    }
  }
  .room_btns{
    margin-top: 20px;
    a{
      margin-right: 10px;
    }
  }
}
