.content_self {
  margin-top: 30px;
}
.content_self .container .row .content {
  min-height: 400px;
}
.content_self .container .row .content .images_content .image_box {
  max-width: 230px;
  max-height: 230px;
  margin-right: 10px;
}
.content_self .container .row .content .images_content .image_box img {
  max-width: inherit;
  max-height: inherit;
}
.content_self .container .row .content .text_content {
  margin-top: 30px;
}
