/* Vars color */
.content a {
  margin-bottom: 10px;
}
.content .card .card-body .tasks_box {
  min-height: 250px;
  max-height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 20px;
}
.content .card .card-body .tasks_box .tasks_list li .task_box {
  padding: 10px 10px 10px 10px;
  border: 1px solid #989a99;
  border-radius: 7px;
  margin-bottom: 10px;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .info_room_box {
  width: 65%;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .info_room_box .task_name {
  justify-content: space-between;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .info_room_box .task_name .check_btn {
  cursor: pointer;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .info_room_box .task_name .name_and_new {
  width: 90%;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .info_room_box .task_name .name_and_new h5 {
  max-width: 70%;
  flex-wrap: wrap;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box {
  width: 35%;
  min-height: 100%;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status {
  width: 90%;
  min-height: 90%;
  margin: auto;
  padding: none;
  float: none;
  border-radius: 20px;
  margin-top: 7px;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status .status_text {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_busy {
  background-color: red;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_busy .status_text {
  margin-top: 52px;
  margin-left: 43px;
  font-size: 30px;
  color: black;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_avail {
  background-color: #00D400;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_avail .status_text {
  margin-top: 52px;
  margin-left: 17px;
  font-size: 30px;
  color: white;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_reserv {
  background-color: #2C2CFF;
}
.content .card .card-body .tasks_box .tasks_list li .task_box .status_box .status_reserv .status_text {
  margin-top: 52px;
  margin-left: 40px;
  font-size: 30px;
  color: white;
}
